@import 'variables';
@import 'defaults';

li {
    list-style-type: none;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-around;
    align-content: flex-end;
    font-size: $nav-text;
}

nav {
    display: inline-flex;
    width: 100%;
}

.img {
    &-logo {
        width: 100px;
        height: 100px;
    }
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%
  }
  
  .character-card {
    width: 30%;
    margin-bottom: 20px;
  }

  .character-card-pic {
    border-radius: 10px;
  }


  .character-search {
    display: flex;
    justify-content: center;
  
    input[type="text"] {
      width: 500px; 
      padding: 10px;
      border-radius: 20px; 
      border: 1px solid gray;
      text-align: center;
      margin-bottom: 10px;
      
    }
  }
  