@import "variables";
@import "defaults";

li {
  list-style-type: none;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  align-content: flex-end;
  font-size: $nav-text;
}

nav {
  display: inline-flex;
  width: 100%;
}

.hero {
  &-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  &-img {
    display: flex;
    flex: auto;
    position: relative;
    padding: 5px;
    width: 100%;
    //max-width: 500px;
    padding-top: 250px;
    .image {
      height: auto;
      width: 100%;
      margin: 50px;
    }
  }

  &-information {
    padding: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;

    &-name {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 0;
      font-size: 100px;
      // padding-left: 100px;
    }

    &-description {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      font-size: 35px;
      font-weight: 300;
    }
  }
}

.img {
  &-logo {
    width: 100px;
    height: 100px;
  }

  &-hero {
  }
}
